<p class="para" i18n="First paragraph Webern bibliography|A Webern bibliography paragraph">
    Auf der wissenschaftlichen Forschungsplattform SALSAH verzeichnet die Anton Webern Gesamtausgabe unter der Rubrik
    <a href="https://www.salsah.org/webern/search.php?restype=bibliography" target="_blank">Bibliografie</a> originale
    Schriften des Komponisten sowie Forschungsliteratur im Zusammenhang mit Anton Webern. Erfasst werden Aufsätze in
    Zeitschriften und Sammelbänden, Monographien, Hochschulschriften und Lexikoneinträge. Diese bibliografische
    Datenbank bietet damit einen umfassenden Überblick über die internationale wissenschaftliche Beschäftigung mit Anton
    Webern seit 1907 bis heute und wird laufend ergänzt.
</p>

<ng-template #rightPanelPortal>
    <p>
        <img src="assets/images/20170905_135708.jpg" alt="Sample of Webern related books" width="400" height="300" />
    </p>
</ng-template>
