<div id="page">
    <div class="content">
        <div class="left">
            @if (selectedMenu) {
                <awg-sub-menu [selectedMenu]="selectedMenu"> </awg-sub-menu>
            }
        </div>

        <div class="center">
            @if (menuArray && selectedMenu) {
                <awg-menu [menuArray]="menuArray"> </awg-menu>
            }
            <awg-main-text></awg-main-text>
        </div>

        <div class="right">
            <awg-search></awg-search>
            @if (rightPanelPortal) {
                <awg-right-text [rightPanelPortal]="rightPanelPortal"></awg-right-text>
            }
        </div>
    </div>
</div>
