<p class="para" i18n>
    Die Anton Webern Gesamtausgabe (AWG) ist eine historisch-kritische Edition, die das gesamte kompositorische Schaffen
    Anton Weberns der Öffentlichkeit in wissenschaftlich angemessener und der musikalischen Praxis dienender Form
    zugänglich machen will. Die Edition beinhaltet nicht nur die von Webern selbst zum Druck beförderten Werke, sondern
    auch deren unpublizierte Fassungen, zu Lebzeiten unveröffentlichte Kompositionen, Jugend- und Studienkompositionen
    sowie Fragmente, Skizzen und Bearbeitungen.
</p>

<p class="para" i18n>
    Die AWG entsteht am
    <a href="http://mws.unibas.ch/">Musikwissenschaftlichen Seminar der Universität Basel</a> in enger inhaltlicher
    Zusammenarbeit mit der <a href="http://www.paul-sacher-stiftung.ch/de/home.html">Paul Sacher Stiftung, Basel</a>, wo
    der größte Teil der überlieferten Webern-Quellen aufbewahrt wird. Seit Oktober 2006 wird die Gesamtausgabe vom
    <a href="http://p3.snf.ch/project-143565">Schweizerischen Nationalfonds</a> und seit 2019 von der
    <a href="https://sagw.ch/sagw/">Schweizerischen Akademie der Geistes- und Sozialwissenschaften</a>
    gefördert. Außerdem wurde in einer Kooperation mit der
    <a href="https://www.oeaw.ac.at/">Österreichischen Akademie der Wissenschaften</a> ab 2008 eine
    <a
        href="https://www.oeaw.ac.at/acdh/musikwissenschaft/forschung/musikedition-und-quellendokumentation/anton-webern/"
        >Wiener Arbeitsstelle</a
    >
    eingerichtet, die Dokumente zur Werkgeschichte, Rezeption und zum historischen Kontext recherchiert. Diese
    Zusammenarbeit wurde durch Fördermittel der
    <a
        href="http://www.evs-musikstiftung.ch/de/preise/preise/foerderprojekte/symposienpublikationen/anton-webern-briefwechsel-mit-der-universal-0"
        >Ernst von Siemens Musikstiftung</a
    >ausgebaut.
</p>

<p class="para" i18n>
    Erscheinen wird die AWG in einer Print-/Online-Hybrid-<a [routerLink]="['/edition', 'overview']">Edition</a>, deren
    gedruckte Bände bei der <a href="http://www.universaledition.com/">Universal Edition, Wien,</a> publiziert und deren
    online zugängliche Bestandteile und Datenbestände als Open Data über eine eigene Webapplikation (<a
        href="https://edition.anton-webern.ch"
        >https://edition.anton-webern.ch</a
    >) präsentiert und über das Software-Framework
    <a href="https://www.dasch.swiss/dsp-app">DaSCH Service Platform (DSP)</a>/<a href="https://www.salsah.org/"
        >SALSAH</a
    >
    des <a href="http://www.dhlab.unibas.ch/">Digital Humanities Lab</a> der Universität Basel aufbereitet werden. Zudem
    werden die Datenbestände durch das
    <a href="https://dasch.swiss/">Swiss National Data & Service Center for the Humanities (DaSCH)</a> zugänglich
    gehalten und langfristig aufbewahrt.
</p>

<p class="para" i18n>
    Die AWG versteht sich als Kompetenzzentrum, in dem neben den editorischen auch archivarische, dokumentarische,
    analytisch-forschende, kommunizierende, dienstleistende und organisatorische Aktivitäten vernetzt werden.
</p>

<ng-template #rightPanelPortal>
    <strong>NEWS</strong>

    <p class="para">
        <strong><span i18n>September</span> 2020</strong>
        <br />
        <span i18n><a [routerLink]="['/research', 'studies']">Webern-Studien</a> 5 erschienen:</span>
        <br />
        <img
            src="assets/images/Cover_Webern-Studien_5_2020.jpg"
            i18n-alt
            alt="Webern-Studien 5"
            width="1781"
            height="2560" />
        <br />
        Anton Webern, <em>Briefwechsel mit der Universal-Edition</em>, <span i18n>hg. von</span> Julia Bungardt,
        <span i18n>Wien</span>: Lafite, 2020 (Webern-Studien 5).
    </p>

    <p class="para">
        <strong><span i18n>April</span> 2020</strong>
        <br />
        <span i18n
            >Update des AWG-Editions-Prototyps mit dynamischer
            <a href="https://edition.anton-webern.ch/edition/complex/op25/graph(side:editionInfo)"
                >Graph-Visualisierung der Skizzen zu op. 25/I</a
            >.</span
        >
        <br />
        <img
            src="assets/images/Edition_Prototyp_Graph_Example.png"
            i18n-alt
            alt="Graph-Visualisierung"
            width="536"
            height="526" />
    </p>

    <p class="para">
        <strong><span i18n>März</span> 2020</strong>
        <br />
        <span i18n>Neu erschienen:</span>
        <br />
        <img
            src="assets/images/Cover_Three_Men_Of_Letters_2020.jpg"
            alt="Three Men of Letters"
            width="400"
            height="564" />
        <br />
        Kathryn Puffett and Barbara Schingnitz,
        <em>Three Men of Letters. Arnold Schönberg, Alban Berg and Anton Webern, 1906–1921</em>, <span i18n>Wien</span>:
        Hollitzer Verlag, 2020.
    </p>

    <p class="para">
        <strong><span i18n>März</span> 2019</strong>
        <br />
        <span i18n><a [routerLink]="['/research', 'studies']">Webern-Studien</a> 4 erschienen:</span>
        <br />
        <img src="assets/images/Cover_Webern-Studien_4_2019.jpg" alt="Webern-Studien 4" width="1025" height="1447" />
        <br />
        <em>Neue Perspektiven. Anton Webern und das Komponieren im 20. Jahrhundert</em>,
        <span i18n>hg. von</span> Pietro Cavallotti, Simon Obert <span i18n>und</span> Rainer Schmusch,
        <span i18n>Wien</span>: Lafite, 2019 (Webern-Studien 4).
    </p>
</ng-template>
