<p>
    Die Anton Webern Gesamtausgabe (AWG) ist eine historisch-kritische Edition, die das gesamte kompositorische Schaffen
    Anton Weberns der Öffentlichkeit in wissenschaftlich angemessener und der musikalischen Praxis dienender Form
    zugänglich machen will. Die Edition beinhaltet nicht nur die von Webern selbst zum Druck beförderten Werke, sondern
    auch deren unpublizierte Fassungen, zu Lebzeiten unveröffentlichte Kompositionen, Jugend- und Studienkompositionen
    sowie Fragmente, Skizzen und Bearbeitungen.<br /><br />

    Die AWG entsteht am
    <a href="http://mws.unibas.ch/" target="_blank">Musikwissenschaftlichen Seminar der Universität Basel</a> in enger
    inhaltlicher Zusammenarbeit mit der
    <a href="http://www.paul-sacher-stiftung.ch/de/home.html" target="_blank">Paul Sacher Stiftung, Basel</a>, wo der
    größte Teil der überlieferten Webern-Quellen aufbewahrt wird. Seit Oktober 2006 wird die Gesamtausgabe vom
    <a title="Opens internal link in current window" href="http://p3.snf.ch/project-143565" target="_blank"
        >Schweizerischen Nationalfonds</a
    >
    und seit 2019 von der
    <a
        class="external-link-new-window"
        title="Opens internal link in current window"
        href="https://sagw.ch/sagw/"
        target="_blank"
        >Schweizerischen Akademie der Geistes- und Sozialwissenschaften</a
    >
    gefördert. Außerdem wurde in einer Kooperation mit der
    <a href="https://www.oeaw.ac.at/" target="_blank">Österreichischen Akademie der Wissenschaften</a> ab 2008 eine
    <a
        href="https://www.oeaw.ac.at/acdh/musikwissenschaft/forschung/musikedition-und-quellendokumentation/anton-webern/"
        target="_blank"
        >Wiener Arbeitsstelle</a
    >
    eingerichtet, die Dokumente zur Werkgeschichte, Rezeption und zum historischen Kontext recherchiert. Diese
    Zusammenarbeit wurde durch Fördermittel der
    <a
        href="http://www.evs-musikstiftung.ch/de/preise/preise/foerderprojekte/symposienpublikationen/anton-webern-briefwechsel-mit-der-universal-0"
        target="_blank"
        >Ernst von Siemens Musikstiftung</a
    >
    ausgebaut.<br /><br />

    Erscheinen wird die AWG in einer Print-/Online-Hybrid-<a href="index.php?id=30" target="_blank">Edition</a>, deren
    gedruckte Bände bei der
    <a
        class="external-link-new-window"
        title="Opens external link in new window"
        href="http://www.universaledition.com/"
        target="_blank"
        >Universal Edition, Wien,</a
    >
    publiziert und deren online zugängliche Bestandteile und Datenbestände als Open Data über eine eigene Webapplikation
    (<a href="https://edition.anton-webern.ch" target="_blank">https://edition.anton-webern.ch</a>) präsentiert und über
    das Software-Framework <a href="https://www.knora.org/" target="_blank">Knora</a>/<a
        href="https://www.salsah.org/"
        target="_blank"
        >SALSAH</a
    >
    des
    <a
        class="external-link-new-window"
        title="Opens external link in new window"
        href="http://www.dhlab.unibas.ch/"
        target="_blank"
        >Digital Humanities Lab</a
    >
    der Universität Basel aufbereitet werden. Zudem werden die Datenbestände durch das
    <a href="https://dasch.swiss/" target="_blank">Data and Service Center for Humanities (DaSCH)</a> zugänglich
    gehalten und langfristig aufbewahrt.<br /><br />

    Die AWG versteht sich als Kompetenzzentrum, in dem neben den editorischen auch archivarische, dokumentarische,
    analytisch-forschende, kommunizierende, dienstleistende und organisatorische Aktivitäten vernetzt werden.
</p>

<ng-template #rightTextPortal>
    <strong>NEWS</strong><br />
    <strong>Dezember 2016</strong><br />
    <a href="http://www.salsah.org/webern/resources/2173581" target="_blank">Konzertprogramm vom 8. Februar 1910</a> in den Karl Weigl Papers der Yale University gefunden:
    <br />
    <br />
    <img src="assets/images/Programm_1910_Februar_08_1_4.jpg" alt="Programm_1910_Februar_08_1_4" width="400" height="508" />
    <br />
    <br />
    <br />
    <strong>Mai 2016</strong><br />
    <a href="index.php?id=34">Webern-Studien</a> 3 erschienen:
    <br />
    <br />
    <img src="assets/images/WS3_Titel.jpg" alt="" width="400" height="582" />
    <br />
    <br />
    <em>Webern-Philologien</em>, hg. von Thomas Ahrend und Matthias Schmidt, Wien: Lafite, 2016 (Webern-Studien 3).
    <br />
    <br />
    <strong>Januar 2016</strong><br />
    <a href="http://www.laaber-verlag.wslv.de/popup.php?ID_Buch=837&amp;lang=" target="_blank"><br />Musiktheorie</a>-Heft zu Webern und Segantini:
    <br />
    <br />
    <em><img src="assets/images/Musiktheorie_4_15_Titel_klein.jpg" alt="" width="400" height="568" />
        <br />
        <br />
        <em>Anton Webern und Giovanni Segantini</em>
    </em>, hg. von Thomas Ahrend und Matthias Schmidt, Laaber: Laaber, 2015 (Musiktheorie 30/4).
    <br />
    <br />
</ng-template>
