<p>
    Die Anton Webern Gesamtausgabe lässt sich von einem mit renommierten Musikwissenschaftlern und Webern-Forschern
    zusammengesetzten Editorial Board beraten: <br /><br />
    Dr. Kathryn Bailey Puffett<br /><br />
    Dr. Regina Busch <br /><br />
    <a href="https://www.musik.uzh.ch/de/Aboutus_BC/Institut/mitarbeiter/emeriti/hinrichsen.html" target="_blank"
        >Prof. Dr. Hans-Joachim Hinrichsen</a
    >
    <br /><br />
    Dr. Felix Meyer <br /><br />
    Prof. Dr. Giselher Schubert <br /><br />
    <a href="https://music.fas.harvard.edu/shreffler.html" target="_blank">Prof. Dr. Anne C. Shreffler </a><br /><br />
    <a href="https://musikwissenschaft.philhist.unibas.ch/de/personen/felix-woerner/" target="_blank"
        >Dr. Felix Wörner</a
    ><br /><br />
</p>

<ng-template #rightPanelPortal></ng-template>
