<p class="para" i18n="Editorial board|A project board paragraph">
    Die Anton Webern Gesamtausgabe lässt sich von einem mit renommierten Musikwissenschaftlern und Webern-Forschern
    zusammengesetzten Editorial Board beraten:
</p>
<p class="para">Dr. Kathryn Bailey Puffett</p>
<p class="para">Dr. Regina Busch</p>
<p class="para">
    <a href="https://www.musik.uzh.ch/de/Aboutus_BC/Institut/mitarbeiter/emeriti/hinrichsen.html" target="_blank"
        >Prof. Dr. Hans-Joachim Hinrichsen</a
    >
</p>
<p class="para">Dr. Felix Meyer</p>
<p class="para">Prof. Dr. Giselher Schubert</p>
<p class="para">
    <a href="https://music.fas.harvard.edu/shreffler.html" target="_blank">Prof. Dr. Anne C. Shreffler </a>
</p>
<p class="para">
    <a href="https://musikwissenschaft.philhist.unibas.ch/de/personen/felix-woerner/" target="_blank"
        >Dr. Felix Wörner</a
    >
</p>

<ng-template #rightPanelPortal></ng-template>
