<p>
    Die Plattform SALSAH bietet unter der Rubrik<a
        href="http://www.salsah.org/webern/search.php?restype=musical_piece"
        target="_blank"
    >
        Moldenhauer-Nummer</a
    >
    eine Liste mit Weberns sämtlichen Werken geordnet nach ihrer Moldenhauer-Nummer. Moldenhauer erstellte ein
    chronologisches Werkverzeichnis und ordnete (mit einigen Ausnahmen) jedem ihm bekannten Einzelstück, gleich ob
    Bestandteil eines mehrsätzigen Werkes oder separat für sich stehend, eine Nummer zu. Die AWG hat trotz vereinzelter
    Zweifel an der chronologischen Richtigkeit diese Nummerierung als Basis bei der Strukturierung von Weberns
    kompositorischem Œuvre übernommen, erweitert oder modifiziert sie jedoch bei Bedarf. Von Moldenhauer nicht erfassten
    Stücken ordnet die AWG ungeachtet der Chronologie eine neue Nummer zu. Diese neu vergebenen Nummern beginnen zur
    klaren Abgrenzung von den ursprünglichen 347 Moldenhauer-Nummern ab der Nummer 400.
</p>

<br />

<p>
    Zu jeder Nummer findet sich ein Eintrag mit kurzen Informationen zu Entstehung, gegebenenfalls Uraufführung und/oder
    Drucklegung eines Stücks sowie eine Quellenübersicht. Verweise auf einen größeren Kontext innerhalb von
    Werkzusammenhängen, Fassungen oder Ähnlichem werden durch Verknüpfungen angezeigt (dieser Bereich befindet sich im
    Aufbau und wird laufend erweitert und ergänzt).
</p>

<ng-template #rightPanelPortal>
    <img src="assets/images/Moldenhauer_Montblanc.jpg" alt="" width="400" height="573" />
    <br />
    Hans Moldenhauer und Fred Gaiser, Montblanc 1932 (Library of Congress, Washington DC).
    <br /><br />
    <strong>Hans Moldenhauer</strong> (1906–1987) verfasste eine umfangreiche Biographie über Webern (<em
        >Anton von Webern. A Chronicle of His Life and Work</em
    >, New York: Knopf, 1979 / <em>Anton von Webern. Chronik seines Lebens und Werkes</em>, Zürich: Atlantis, 1980).
</ng-template>
