<div class="personbox" vocab="https://schema.org/" typeof="Person">
    <p property="name">
        <strong>Dr. Thomas Ahrend</strong>
    </p>
    <p property="jobTitle" class="para">
        <span i18n>Wissenschaftlicher Mitarbeiter</span>, <span i18n>Mitglied der Editionsleitung</span>
    </p>
    <p class="para" i18n>
        Geboren 1967 in Berlin. Studium der Musikwissenschaft, Philosophie und Literaturwissenschaft in Frankfurt a. M.
        und Berlin. Magister Artium 1996 und Promotion 2005 an der Technischen Universität Berlin mit einer Arbeit zur
        Instrumentalmusik Hanns Eislers. Von 1997 bis 2010 Mitarbeiter der Hanns Eisler Gesamtausgabe in Berlin. Seit
        September 2010 Mitarbeiter der Anton Webern Gesamtausgabe am Musikwissenschaftlichen Seminar der Universität
        Basel.
    </p>
    <p>
        <a href="https://musikwissenschaft.philhist.unibas.ch/de/personen/thomas-ahrend/" property="url" i18n>[Mehr]</a>
    </p>
</div>

<div class="personbox" vocab="https://schema.org/" typeof="Person">
    <p property="name"><strong>Dr. Michael Matter</strong></p>
    <p property="jobTitle" class="para" i18n>Wissenschaftlicher Mitarbeiter</p>
    <p class="para" i18n>
        Geboren 1981 in Bern. Studium der Musikwissenschaft, Geschichte und Kunstgeschichte in Bern und Rom (La
        Sapienza). Nach dem Lizentiat 2007 folgte 2008–2012 die Promotion an der Universität Zürich mit einer Arbeit
        über <em>Niels W. Gade und der ‚nordische Ton‘. Ein musikgeschichtlicher Präzedenzfall</em>. Von 2006–2013
        ausserdem Tätigkeit als Musikkritiker sowie Praktika in den Bereichen Edition (Tübingen), Opern-Dramaturgie
        (Biel) und Kulturmanagement (Freiburg i. Br.). Von 2013–2015 wissenschaftlicher Mitarbeiter bei RISM Schweiz.
        Seit März 2013 wissenschaftlicher Mitarbeiter bei der Anton Webern Gesamtausgabe. Daneben tätig als
        Konzertdramaturg sowie als Mitherausgeber der "Editionen der Schweizerischen Musikforschenden Gesellschaft".
    </p>
    <p>
        <a href="https://musikwissenschaft.philhist.unibas.ch/de/personen/michael-matter/" property="url" i18n
            >[Mehr]</a
        >
    </p>
</div>

<div class="personbox" vocab="https://schema.org/" typeof="Person">
    <p property="name"><strong>Dr. des. Stefan Münnich</strong></p>
    <p property="jobTitle" class="para" i18n>Wissenschaftlicher Mitarbeiter</p>
    <p class="para" i18n>
        Geboren 1982. Studium der Musikwissenschaft und Kommunikationswissenschaft an der Technischen Universität
        Berlin, Magister Artium 2011 mit einer Arbeit zum Kantionalsatz in Heinrich Schütz's <em>Becker-Psalter</em>.
        2012 wissenschaftliche Hilfskraft, 2013–2015 wissenschaftlicher Mitarbeiter am Editionsprojekt
        <em>Felix Mendelssohn Bartholdy. Sämtliche Briefe</em> an der Universität Leipzig (Mitherausgeber der Bände 9
        &amp; 12). Seit Oktober 2015 wissenschaftlicher Mitarbeiter der Anton Webern Gesamtausgabe, Basel; Promotion
        2020 am musikwissenschaftlichen Seminar der Universität Basel mit einer Arbeit über
        <em>Musikalische Schrift und ihre Codes</em>.
    </p>
    <p>
        <a href="https://musikwissenschaft.philhist.unibas.ch/de/personen/stefan-muennich/" property="url" i18n
            >[Mehr]</a
        >
    </p>
</div>

<div class="personbox" vocab="https://schema.org/" typeof="Person">
    <p property="name"><strong>Dr. Simon Obert</strong></p>
    <p property="jobTitle" class="para" i18n>Mitglied der Editionsleitung</p>
    <p class="para" i18n>
        Studium der Musikwissenschaft, Kunstgeschichte, Germanistischen Sprachwissenschaft und Medienwissenschaft in
        Heidelberg, Zürich, Konstanz und Freiburg im Br. 1999 Magister Artium. Arbeit als Musikjournalist und Redaktor.
        2002–13 Assistent am Musikwissenschaftlichen Institut der Universität Basel. 2003–04 Forschungsaufenthalt in den
        USA mit einem Stipendium der Harvard University. 2006 Promotion mit der Arbeit
        <em>Musikalische Kürze zu Beginn des 20. Jahrhunderts</em>. 2010–11 Stipendiat des Schweizerischen Nationalfonds
        am Forschungszentrum Populäre Musik der Humboldt-Universität und an der University of Southampton. 2011–12
        Gastprofessor für populäre Musik am Musikwissenschaftlichen Institut der Universität Wien. 2013–14 Professor für
        Musikwissenschaft an der Universität für Musik und darstellende Kunst Wien. Seit 2014 wissenschaftlicher
        Mitarbeiter der Paul Sacher Stiftung, Basel.
    </p>
    <p>
        <a href="https://musikwissenschaft.philhist.unibas.ch/de/fachbereich/simon-obert/" property="url" i18n
            >[Mehr]</a
        >
    </p>
</div>

<div class="personbox" vocab="https://schema.org/" typeof="Person">
    <p property="name"><strong>Dr. des. Barbara Schingnitz</strong></p>
    <p property="jobTitle" class="para" i18n>Wissenschaftliche Mitarbeiterin</p>
    <p class="para" i18n>
        Studium der Musikwissenschaft, Neuen deutschen Literatur und Medienwissenschaft an der Universität Basel,
        Abschluss 2008 mit dem Lizentiatsexamen. Sologesangsstudium an der Hochschule für Musik in Basel (BA-Diplom
        2008, MA-Diplom 2010). 2006–2009 Hilfsassistentin, seit 2009 wissenschaftliche Mitarbeiterin der Anton Webern
        Gesamtausgabe.
    </p>
    <p>
        <a href="https://musikwissenschaft.philhist.unibas.ch/de/personen/barbara-schingnitz/" property="url" i18n
            >[Mehr]</a
        >
    </p>
</div>

<div class="personbox" vocab="https://schema.org/" typeof="Person">
    <p property="name"><strong>Prof. Dr. Matthias Schmidt</strong></p>
    <p property="jobTitle" class="para">
        <span i18n>Mitglied der Editionsleitung</span>, <span i18n>Projektleitung</span>
    </p>
    <p class="para" i18n>
        Geboren in Köln. Studium der Musikwissenschaft, Germanistik, Kunstgeschichte und Philosophie in Bonn, Berlin und
        Wien; M. A. und Dr. phil. an der FU Berlin. Wissenschaftlicher Mitarbeiter des Arnold Schönberg-Instituts der
        Universität für Musik und darstellende Kunst Wien. Habilitation Universität Salzburg. DAAD-, Thyssen- und
        ÖFG-Stipendiat in Österreich, Italien und mehrfach in den USA. Langjährige Lehrtätigkeit (als Dozent,
        Vertretungs- und Gastprofessor) an Hochschulen in Österreich, der Schweiz, Deutschland und den Niederlanden.
        Neben den akademischen Aufgaben als Musikjournalist, Ausstellungskurator und Konzertdramaturg tätig.
    </p>
    <p>
        <a href="https://musikwissenschaft.philhist.unibas.ch/de/personen/matthias-schmidt/" property="url" i18n
            >[Mehr]</a
        >
    </p>
</div>

<div>
    <p>
        <strong i18n>Ehemalige Mitarbeitende:</strong>
    </p>
    <p>Julia Bungardt (<span i18n>Wiener Arbeitsstelle</span>, 2015–2020)</p>
    <p>Monika Kröpfl (<span i18n>Wiener Arbeitsstelle</span>, 2008–2014)</p>
    <p><a href="https://www.mdw.ac.at/imi/nikolaus_urbanek/">Nikolaus Urbanek</a> (2009–2010)</p>
    <p class="para"><a href="http://www.absw.at/gesamtausgabe-ueber">Manuel Strauß</a> (2010–2012)</p>

    <p>
        <strong i18n>Praktikantinnen &amp; Praktikanten:</strong>
    </p>
    <p>Tamara Ackermann (2015)</p>
    <p><a href="https://www.ds.uzh.ch/p/knoepfle">Madita Knöpfle</a> (2015)</p>
    <p>Yuta Asai (2019)</p>
    <p>Youchen Yu (2019)</p>
    <p>Daia Aschwanden (2021)</p>
</div>

<ng-template #rightPanelPortal>
    <div class="personbox" vocab="https://schema.org/" typeof="Person">
        <img src="assets/images/Portrait_Thomas.jpg" alt="Thomas Ahrend" width="248" height="314" />
        <p property="name"><strong>Dr. Thomas Ahrend</strong></p>
        <p property="telephone">Tel. +41 (0)61 207 28 21</p>
        <p>
            <a href="mailto:thomas.ahrend@unibas.ch" property="email">thomas.ahrend-at-unibas.ch</a>
        </p>
    </div>

    <div class="personbox" vocab="https://schema.org/" typeof="Person">
        <img src="assets/images/Portrait_Michael_2.jpg" alt="Michael Matter" width="248" height="314" />
        <p property="name">
            <strong>Dr. Michael Matter</strong>
        </p>
        <p property="telephone">Tel. +41 (0)61 207 12 09</p>
        <p>
            <a href="mailto:michael.matter@unibas.ch" property="email">michael.matter-at-unibas.ch</a>
        </p>
    </div>

    <div class="personbox" vocab="https://schema.org/" typeof="Person">
        <img src="assets/images/Portrait_Stefan.jpg" alt="Stefan Münnich" width="248" height="314" />
        <p property="name">
            <strong
                >Dr. des. Stefan Münnich<span
                    ><a
                        property="sameAs"
                        content="https://orcid.org/0000-0002-0744-5374"
                        href="https://orcid.org/0000-0002-0744-5374"
                        target="orcid.widget"
                        rel="noopener noreferrer"
                        ><img
                            src="https://orcid.org/sites/default/files/images/orcid_16x16.png"
                            style="width: 1em; margin-right: 0.5em"
                            alt="ORCID iD https://orcid.org/0000-0002-0744-5374" /></a></span
            ></strong>
        </p>
        <p property="telephone">Tel. +41 (0)61 207 28 08</p>
        <p>
            <a href="mailto:stefan.muennich@unibas.ch" property="email">stefan.muennich-at-unibas.ch</a>
        </p>
    </div>

    <div class="personbox" vocab="https://schema.org/" typeof="Person">
        <img src="assets/images/Portrait_Simon.jpg" alt="Simon Obert" width="248" height="314" />
        <p property="name">
            <strong>Dr. Simon Obert</strong>
        </p>
        <p property="telephone">Tel. +41 (0)61 269 66 33</p>
        <p>
            <a href="mailto:simon.obert@unibas.ch" property="email">simon.obert-at-unibas.ch</a>
        </p>
    </div>

    <div class="personbox" vocab="https://schema.org/" typeof="Person">
        <img src="assets/images/Portrait_Barbara.jpg" alt="Barbara Schingnitz" width="248" height="314" />
        <p property="name">
            <strong>Dr. des. Barbara Schingnitz</strong>
        </p>
        <p property="telephone">Tel. +41 (0)61 207 12 09</p>
        <p>
            <a href="mailto:barbara.schingnitz@unibas.ch" property="email">barbara.schingnitz-at-unibas.ch</a>
        </p>
    </div>

    <div class="personbox" vocab="https://schema.org/" typeof="Person">
        <img src="assets/images/Portrait_Matthias_2.jpeg" alt="Matthias Schmidt" width="248" height="314" />
        <p property="name">
            <strong>Prof. Dr. Matthias Schmidt</strong>
        </p>
        <p property="telephone">Tel. +41 (0)61 207 28 00</p>
        <p><a href="mailto:matthias.schmidt@unibas.ch" property="email">matthias.schmidt-at-unibas.ch</a></p>
    </div>
</ng-template>
