<p class="para" i18n>Modellhafter Prototyp einer AWG-Online-Edition:</p>

<p class="para" i18n>
    <a href="http://edition.anton-webern.ch" target="_blank">edition.anton-webern.ch</a>
</p>

<p class="para" i18n>
    (Weiterentwicklung einer
    <a href="assets/documents/BeispieleditionAWG_3_Skizzen_op12_Online_klein.pdf">prospektiven Simulation [PDF]</a> vom
    31. März 2015 sowie vom 29. Januar 2016.)
</p>

<ng-template #rightPanelPortal>
    <img
        src="assets/images/Edition_Prototyp_Ausschnitt.jpg"
        i18n-alt
        alt="Ausschnitt eines modellhaften Prototyps der AWG-Online-Edition"
        width="400"
        height="531" />
</ng-template>
