<p class="para" i18n>
    Anton Weberns Œuvre beinhaltet neben einigen orchestralen Werken hauptsächlich Lieder und Kammermusik in
    verschiedenster Besetzung. Während die mit einer Opuszahl versehenen Werke (op. 1–31) größtenteils noch zu Lebzeiten
    bei der UE in Wien im Druck erschienen sind, ist ein beträchtlicher Teil des kompositorischen Nachlasses – darunter
    zahlreiche Kompositionen aus seiner Jugend und Studienzeit, teils auch aus dem zwischen 1904 und 1908
    stattgefundenen Unterricht bei Schönberg stammend – erst nach seinem Tod entdeckt und der Öffentlichkeit zugänglich
    gemacht worden.
</p>

<p class="para" i18n>
    Für Recherchezwecke sind im Folgenden nach den Kategorien <a [routerLink]="['/works', 'opus']">Opuszahl</a> und
    <a [routerLink]="['/works', 'moldenhauer']">Moldenhauer-Nummer</a> geordnete Werklisten aufrufbar, um einen
    Überblick über Weberns Schaffen zu ermöglichen. Zu jedem Eintrag einer Liste bietet die Plattform SALSAH kurze
    Informationen zu Entstehung, gegebenenfalls Uraufführung und/oder Drucklegung eines Stücks sowie eine
    Quellenübersicht. Verweise auf einen größeren Kontext innerhalb von Werkzusammenhängen, Fassungen oder Ähnlichem
    werden durch Verknüpfungen angezeigt.
</p>

<h4 i18n>Anton Weberns kompositorischer Nachlass</h4>
<p i18n>
    Dass von Anton Webern überhaupt ein kompositorischer Nachlass existiert, wurde der Öffentlichkeit erst ab den 1960er
    Jahren allmählich bekannt. Maßgeblich beteiligt an Auffindung, Zusammenstellung und Erhalt dieses Nachlasses war der
    deutsch-amerikanischer Musiker und Musikforscher Hans Moldenhauer, der in drei Etappen in den Besitz verschiedener
    Teilnachlässe gelangte:<a id="ftnref1" [routerLink]="'.'" fragment="ftn1">[1]</a> 1961 erwarb Moldenhauer von Amalie
    Waller, der ältesten Tochter Weberns (mit der Moldenhauer im Zuge seiner Nachforschungen über Weberns Todesumstände
    Bekanntschaft gemacht hatte), Notenmanuskripte und Tagebücher, die sich in Familienbesitz befunden hatten. Dieser
    Teilnachlass enthielt bis dahin unbekannte Frühwerke Weberns, so unter anderem <em>Im Sommerwind</em> M 63, den
    <em>Langsamen Satz</em> für Streichquartett M 78, das Streichquartett von 1905 M 79, das Klavierquintett M 118,
    diverse Lieder sowie das letzte der insgesamt sechs Skizzenbücher;<a id="ftnref2" [routerLink]="'.'" fragment="ftn2"
        >[2]</a
    >
    diese beinhalten umfassendes Skizzenmaterial zu den Opuswerken 17–31 und einigen anderen, unvollständigen Stücken
    aus der Zeit ab 1925. Über den Erwerb und den Transport der Quellen in die USA, wo Moldenhauer an seinem Wohnort
    Spokane (Washington) im Begriff war ein Quellenarchiv aufzubauen, berichtete damals auch die amerikanische Presse.<a
        id="ftnref3"
        [routerLink]="'.'"
        fragment="ftn3"
        >[3]</a
    >
</p>
<p i18n>
    1963 brachte Moldenhauer mittels Nachforschungen vier weitere Skizzenbücher (Nr. 2–5 mit insgesamt 422 folia) in
    seinen Besitz, die von Amalie Waller 1954 zusammen mit anderen Materialien leihweise an Friedrich Wildgans für eine
    geplante Biographie weggegeben worden waren.<a id="ftnref4" [routerLink]="'.'" fragment="ftn4">[4]</a> 1965 führte
    schließlich ein Treffen mit Hermine Webern, der Schwiegertochter Weberns, zu einem Fund im Dachboden ihres
    Elternhauses in Perchtoldsdorf bei Wien, wohin Teile von Weberns Nachlass nach dem Ende des Zweiten Weltkrieges
    überführt worden waren.<a id="ftnref5" [routerLink]="'.'" fragment="ftn5">[5]</a> Eigentlich auf der Suche nach
    einer zweiten von Josef Humplik<a id="ftnref6" [routerLink]="'.'" fragment="ftn6">[6]</a> angefertigten und durch
    eine Fotografie dokumentierten Bronzebüste des Komponisten stießen die beiden nicht nur auf Weberns eigenes
    Violoncello, sondern außerdem auf drei Bündel mit Musikmanuskripten von Weberns Hand. Auch diesmal betraf der Fund
    vorwiegend das Frühschaffen: Neben etlichen Liedern aus der Jugendzeit und der frühesten bekannten Komposition, den
    zwei 1899 vermutlich für eine eigene Aufführung komponierten Stücken für Violoncello und Klavier M 1–2, befanden
    sich unter diesen Handschriften mehrere Konvolute mit Arbeiten aus Weberns Unterrichtszeit bei Schönberg. Darüber
    hinaus kamen Skizzen und Entwürfe aus der Zeit der freien Atonalität (u. a. „O sanftes Glühn der Berge“ M 184,
    Cello-Sonate M 202), atonale Entwürfe von 1924/25 (u. a. die zwei Streichtrios M 273, M 278 und das
    <em>Kinderstück</em> M 267) sowie Bearbeitungen eigener Werke, wie etwa eine kammermusikalische Fassung der
    Orchesterstücke op. 6, zum Vorschein.
</p>
<p i18n>
    Ein Katalog der von Moldenhauer zusammengetragenen Teilnachlässe, die neben den Musikmanuskripten auch Briefe,
    Schriften, Fotografien, Bücher und sonstige Erinnerungsstücke umfassen, wurde 1966 erstmals publiziert.<a
        id="ftnref7"
        [routerLink]="'.'"
        fragment="ftn7"
        >[7]</a
    >
</p>
<p class="para" i81n>
    1984 gelangte Moldenhauers Webern-Sammlung zum größten Teil in den Besitz der Paul Sacher Stiftung in Basel, wo sie
    in den nachfolgenden Jahren um weitere Handschriften, Briefe und andere Dokumente sowohl aus den Moldenhauer
    Archives als auch aus anderen privaten Beständen erweitert wurde. Diese Sammlung umfasst inzwischen etliche tausend
    Seiten an Musik- und Textmanuskripten sowie Korrespondenz, Lebensdokumente, Konzertprogramme, Rezensionen und
    andere.
</p>

<div>
    <hr width="33%" size="1" align="left" />
    <p id="ftn1">
        <a name="FN1" [routerLink]="'.'" fragment="ftnref1">[1]</a>&nbsp;<span i18n
            >Moldenhauer hat über das Zustandekommen seiner Webern-Sammlung mehrfach und teilweise abweichend
            berichtet.</span
        >&nbsp;<span i18n>Vgl. dazu u. a.</span> Hans Moldenhauer, „Rich Webern Legacy Contains Unknown Compositions“,
        in: <em>The New York Times</em> (17. September 1961), <span i18n>S.</span> 11; <span i18n>ders.</span>, „In
        Quest of Webern“, in: <em>Saturday Review</em> (27. August 1966), <span i18n>S.</span> 47–49, 60;
        <span i18n>ders.</span>, „A Webern Archive in America“, in: <em>Anton Webern Perspectives</em>,
        <span i18n>hg. von</span> Demar Irvine, Seattle: University of Washington Press, 1966,
        <span i18n>S.</span> 117–166; <span i18n>ders.</span>, „A Webern Pilgrimage“, in:
        <em>The Musical Times</em> 109/1500 (1968), <span i18n>S.</span> 122–127; <span i18n>ders.</span>,
        <em>Anton von Webern. Chronik seines Lebens und Werkes</em>, Zürich: Atlantis, 1980, <span i18n>S.</span> 9–12;
        <span i18n>ders.</span>, „Excelsior! Die Genese des Webern-Archivs“, in:
        <em>Komponisten des 20. Jahrhunderts in der Paul Sacher Stiftung</em>, <span i18n>hg. von</span> Hans Jörg Jans,
        Felix Meyer, Ingrid Westen, Basel: <span i18n>Paul Sacher Stiftung</span>, 1986, <span i18n>S.</span> 130–147.
    </p>
    <p id="ftn2">
        <a name="FN2" [routerLink]="'.'" fragment="ftnref2">[2]</a>&nbsp;<span i18n>Vgl.</span> Gareth Cox,
        <em>Anton Weberns Studienzeit. Seine Entwicklung im Lichte der Sätze und Fragmente für Klavier</em>, Frankfurt
        am Main u.a.: Peter Lang, 1992, <span i18n>S.</span> 17.
    </p>
    <p id="ftn3">
        <a name="FN3" [routerLink]="'.'" fragment="ftnref3">[3]</a>&nbsp;<span i18n>Vgl.</span> Eric Salzman, „Unheard
        Scores of Webern Found“, in: <em>New York Times</em> (4. September 1961), <span i18n>S.</span> 17.
    </p>
    <p id="ftn4">
        <a name="FN4" [routerLink]="'.'" fragment="ftnref4">[4]</a>&nbsp;<span i18n>Vgl.</span> Moldenhauer,
        <em>Anton von Webern </em>(<span i18n>Anm.</span> 1), <span i18n>S.</span> 10 f.
    </p>
    <p id="ftn5">
        <a name="FN5" [routerLink]="'.'" fragment="ftnref5">[5]</a>&nbsp;<span i18n>Vgl. dazu u. a.</span>: Hans
        Moldenhauer, „In Quest of Webern“ (<span i18n>Anm.</span> 1), <span i18n>S.</span> 47–49, 60;
        <span i18n>bzw. den nahezu indentischen Bericht in</span>, „A Webern Pilgrimage“ (<span i18n>Anm.</span> 1),
        <span i18n>S.</span> 122–127.
    </p>
    <p id="ftn6">
        <a name="FN6" [routerLink]="'.'" fragment="ftnref6">[6]</a>&nbsp;
        <span i18n
            >Josef Humplik hatte von Webern zwei Büsten angefertigt, 1927 eine aus Gips und 1928 eine aus
            Terrakotta</span
        >
        (Moldenhauer, <em>Anton von Webern</em> [<span i18n>Anm.</span> 1], <span i18n>S.</span> 308.)
    </p>
    <p id="ftn7">
        <a name="FN7" [routerLink]="'.'" fragment="ftnref7">[7]</a> Hans Moldenhauer, „A Webern Archive in America“
        (<span i18n>Anm.</span> 1), <span i18n>S.</span>
        117–166.
    </p>
</div>

<ng-template #rightPanelPortal>
    <p>
        <img
            src="assets/images/Werkverzeichnis_UE1936.jpg"
            i18n-alt
            alt="Verlagszanzeige der Werke Weberns, 1936"
            width="400"
            height="625" />
        <br />
        <span i18n
            >Verlagszanzeige der Werke Weberns auf der Umschlagseite des Erstdrucks der
            <em>Drei Gesänge aus „Viae Inviae“ von Hildegard Jone</em> op. 23 (Wien: Universal Edition, 1936).</span
        >
    </p>
</ng-template>
