<div id="footer">
    <div class="content">
        <div class="left">
            <a href="https://sagw.ch/sagw/" target="_blank">
                <img class="footerlogo" src="assets/logos/sagw.jpg" alt="sagw" onclick="location.href=''" />
            </a>
        </div>
        <div class="center">
            &copy; 2015–{{ now }} Anton Webern Gesamtausgabe &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span [routerLink]="['/contact']">Impressum &amp; Datenschutz</span>
        </div>
        <div class="right">
            <a href="http://www.snf.ch" target="_blank">
                <img class="footerlogo" src="assets/logos/snf.jpg" alt="snf" />
            </a>
        </div>
    </div>
</div>
