<p class="para" i18n>
    Auf der wissenschaftlichen Forschungsplattform SALSAH archiviert die Anton Webern Gesamtausgabe unter der Rubrik
    <a href="http://www.salsah.org/webern/search.php?restype=correspondence">Briefe</a> Korrespondenzen Weberns, die zur
    Einordnung und Verifizierung biographischer Ereignisse und zur Dokumentation der Entstehungsgeschichte seiner Werke
    beitragen. Diese Briefdatenbank befindet sich im Aufbau und wird laufend ergänzt.
</p>

<p class="para" i18n>
    Neben Weberns ‚großen‘ Briefwechseln – z. B. mit Arnold Schönberg, Alban Berg, seiner Librettistin der späteren
    Jahre Hildegard Jone, mit Heinrich Jalowetz oder mit der Universal Edition - wird auch sein Schriftverkehr mit
    zahlreichen weiteren Personen so umfänglich wie möglich erfasst.
</p>

<p class="para" i18n>
    Auf SALSAH wird jedes Dokument einzeln katalogisiert. Zu jedem solchen Objekt sind für den Nutzer Kurzinformationen
    (Adressat, Absender, Datum, Ort, Incipit, Kurzinhalt) abrufbar. Die Suche ist nach verschiedenen Parametern
    eingrenzbar (z.&nbsp;B. Korrespondenzpartnern, Datum).
</p>

<ng-template #rightPanelPortal>
    <p>
        <img
            src="assets/images/Webern_1908_12_21_Brief_an_Schönberg_Seite_1_A-Was.jpg"
            i18n-alt
            alt="Brief Anton Weberns an Arnold Schönberg, Weihnachten 1908"
            width="400"
            height="607" />
        <br />
        <span i18n>Brief Anton Weberns an Arnold Schönberg, Weihnachten 1908</span> (Library of Congress, Washington DC,
        Arnold Schoenberg Collection).
    </p>
</ng-template>
