<p class="para" i18n>Empfohlene Zitierweisen:</p>

<p>Website:</p>
<p class="para">
    Anton Webern Gesamtausgabe. <span i18n>Projekt-Website</span>:
    <a href="https://www.anton-webern.ch/" target="_blank">https://www.anton-webern.ch</a>,
    <span i18n>abgerufen am {{ leftCB }}Abrufdatum{{ rightCB }}</span
    >.
</p>

<p>Online-Edition:</p>
<p class="para">
    Anton Webern Gesamtausgabe. <span i18n>Online-Edition</span> (<span i18n>Version</span> {{ leftCB
    }}<span i18n>Versionsnummer</span>{{ rightCB }} <span i18n>vom</span> {{ leftCB }}<span i18n>Versionsdatum</span
    >{{ rightCB }}): <a href="https://editon.anton-webern.ch" target="_blank">https://editon.anton-webern.ch</a>,
    <span i18n>abgerufen am {{ leftCB }}Abrufdatum{{ rightCB }}</span
    >.
</p>
