<p class="para" i18n>
    Die AWG ist bei ihrer Arbeit auf die Kooperation mit verschiedenen Institutionen angewiesen, die Teile des
    Nachlasses oder weiterführende Dokumente zu Weberns Person und Werk aufbewahren.
</p>

<p class="para">
    <a href="http://www.schoenberg.at/index.php/de/">Arnold Schönberg Center, Wien</a>
</p>

<p class="para">
    <a href="http://fondationbodmer.ch/">Fondation Bodmer, Genf</a>
</p>

<p class="para">
    <a href="http://www.a-wgm.com/">Gesellschaft der Musikfreunde in Wien</a>
</p>

<p class="para">
    <a href="http://hcl.harvard.edu/libraries/houghton/">Houghton Library, Cambridge MA</a>
</p>

<p class="para">
    <a href="http://www.loc.gov/">Library of Congress, Washington</a>
</p>

<p class="para">
    <a href="http://www.onb.ac.at/">Österreichische Nationalbibliothek, Wien</a>
</p>

<p class="para">
    <a href="http://www.paul-sacher-stiftung.ch/de/home.html">Paul Sacher Stiftung, Basel</a>
</p>

<p class="para">
    <a href="http://staatsbibliothek-berlin.de/">Staatsbibliothek zu Berlin</a>
</p>

<p class="para">
    <a href="http://www.mainz.de/WGAPublisher/online/html/default/bibliotheken">Stadtbibliothek Mainz</a>
</p>

<p class="para">
    <a href="http://bibliotheken.winterthur.ch/stadtbibliothek/oeffnungszeiten-kontakt/">Stadtbibliothek Winterthur</a>
</p>

<p class="para">
    <a href="http://www.bl.uk/">The British Library, London</a>
</p>

<p class="para">
    <a href="http://www.themorgan.org/">The Morgan Library, New York City</a>
</p>

<p class="para">
    <a href="http://www.buw.uw.edu.pl/">Universitätsbibliothek Warschau</a>
</p>

<p class="para">
    <a href="http://www.wienbibliothek.at/">Wienbibliothek im Rathaus, Wien</a>
</p>

<ng-template #rightPanelPortal>
    <p class="para">
        <img
            src="assets/images/PSS_Bibliothek.jpg"
            i18n-alt
            alt="Bibliotheksraum in der Paul Sacher Stiftung, Basel"
            width="400"
            height="266" />
        <br />
        <span i18n>Bibliotheksraum in der Paul Sacher Stiftung, Basel.</span>
    </p>
</ng-template>
