<p class="para">
    <strong><span i18n>Dezember</span> 2018</strong>
    <br />
    <span i18n
        >Neuer Beitrag erschienen: Thomas Ahrend, Michael Matter: "Webern, Anton" (u. a. mit Werkverzeichnis und
        Bibliographie), in: KDG - Komponisten der Gegenwart, 2018. Online unter
        <a href="http://www.munzinger.de/document/17000000630">Munzinger Online</a>.</span
    >
</p>

<p class="para">
    <strong>3. <span i18n>Dezember</span> 2018</strong>
    <br />
    <span i18n
        >Happy Birthday, Webern! Heute <a href="http://www.salsah.org/resources/4852">vor 135 Jahren</a>, ebenfalls ein
        Montag, wird Anton Webern in Wien, III. Bezirk, Löwengasse 53a, „durch eine Hebamme entbunden“.</span
    >
</p>

<p class="para">
    <strong><span i18n>November</span> 2018</strong><br />
    <span i18n
        >Simone Hohmaier wird am 27. November 2018 den nächsten Anton Webern Vortrag zum Thema "Die Korrespondenz
        zwischen Anton Webern und Alban Berg – Dokument einer wundersamen Freundschaft" halten (18.15 Uhr, Vortragssaal
        des Musikwissenschaftlichen Seminars, Basel).</span
    >
    <br />
    <img
        src="assets/images/Flyer%20Hohmaier-1.jpg"
        i18n-alt
        alt="Flyer Anton Webern Vortrag 2018"
        width="591"
        height="750" />
    <br />
    <span i18n
        >Weitere Informationen
        <a href="https://musikwissenschaft.philhist.unibas.ch/de/veranstaltungen/details/news/mws-vortrag-1/">hier</a
        >.</span
    >
</p>

<p class="para">
    <strong><span i18n>Oktober</span> 2018</strong>
    <br />
    <span i18n
        >Gefunden! Programmzettel von Weberns erstem Konzert als „Vereinschormeister“ des Mödlinger
        Männer-Gesang-Vereins am 25. November 1921:</span
    >
    <br />
    <img
        src="assets/images/1921%2011%2025%20Vokal-Konzert%20Webern%20Mödling.jpg"
        i18n-alt
        alt="Programmzettel Mödlinger Männer-Gesang-Verein 1921"
        width="417"
        height="630" />
    <br />
    <span i18n
        ><a href="http://www.salsah.org/webern/resources/2574844">Die Quelle</a> wurde im Archiv des
        Männer-Gesang-Vereins (heute: Chor Kontroverse) entdeckt, von seinem aktuellen Leiter Andreas Brüger.</span
    >
</p>

<p class="para">
    <strong><span i18n>März</span> 2018</strong>
    <br />
    <span i18n>Neuer Online-Beitrag erschienen:</span> Thomas Ahrend, Stefan Münnich: "<a
        href="http://www.oxfordbibliographies.com/view/document/obo-9780199757824/obo-9780199757824-0238.xml"
        >Anton Webern</a
    >", in: <em>Oxford Bibliographies in Music</em> (28.3.2018). DOI: 10.1093/obo/9780199757824-0238.
</p>

<p class="para">
    <strong><span i18n>September</span> 2017</strong>
    <br />
    <span i18n
        >Mit über 2000 Einträgen hat die Anton Webern Gesamtausgabe die weltweit größte
        <a href="http://www.salsah.org/webern/search.php?restype=bibliography">Webern-Bibliographie</a>
        zusammengestellt. Sie bietet damit einen umfassenden Überblick über die internationale wissenschaftliche
        Beschäftigung mit Anton Webern von 1907 bis 2017.</span
    >
    <br />
    <img
        src="assets/images/20170905_135708.jpg"
        i18n-alt
        alt="Eine Auswahl von Webern-Büchern"
        width="565"
        height="423" />
</p>

<p class="para">
    <strong><span i18n>Dezember</span> 2016</strong><br />
    <span i18n
        ><a href="http://www.salsah.org/webern/resources/2173581">Konzertprogramm vom 8. Februar 1910</a> in den Karl
        Weigl Papers der Yale University gefunden:</span
    >
    <br />
    <img
        src="assets/images/Programm_1910_Februar_08_1_4.jpg"
        i18n-alt
        alt="Konzertprogramm vom 8. Februar 1910"
        width="400"
        height="508" />
</p>

<p class="para">
    <strong><span i18n>Mai</span> 2016</strong>
    <br />
    <span i18n><a [routerLink]="['/research', 'studies']">Webern-Studien</a> 3 erschienen:</span>
    <br />
    <img src="assets/images/WS3_Titel.jpg" alt="Webern-Studien 3" width="400" height="582" />
    <br />
    <em>Webern-Philologien</em>, <span i18n>hg. von</span> Thomas Ahrend <span i18n>und</span> Matthias Schmidt,
    <span i18n>Wien</span>: Lafite, 2016 (Webern-Studien 3).
</p>

<p class="para">
    <strong><span i18n>Januar</span> 2016</strong>
    <br />
    <span i18n
        ><a href="http://www.laaber-verlag.wslv.de/popup.php?ID_Buch=837&amp;lang=">Musiktheorie</a>-Heft zu Webern und
        Segantini:</span
    >
    <br />
    <img
        src="assets/images/Musiktheorie_4_15_Titel_klein.jpg"
        alt="Musiktheorie 30/4 (2015)"
        width="400"
        height="568" />
    <br />
    <em>Anton Webern und Giovanni Segantini</em>, <span i18n>hg. von</span> Thomas Ahrend <span i18n>und</span> Matthias
    Schmidt, Laaber: Laaber, 2015 (Musiktheorie 30/4).
</p>

<ng-template #rightPanelPortal></ng-template>
