<p class="para" i18n="First paragraph webern persons|A webern persons paragraph">
    Auf der wissenschaftlichen Forschungsplattform SALSAH sammelt die Anton Webern Gesamtausgabe unter der Rubrik
    <a href="http://www.salsah.org/webern/search.php?restype=person" target="_blank">Personen</a> Informationen zum
    Umfeld Anton Weberns. Berücksichtigt werden sowohl sein Familien-, Freundes- oder Kollegenkreis, wie er sich aus
    biographischen Angaben, eigenen Aussagen in Briefen, Tagebüchern, Notizen oder mittels Erinnerungen aus zweiter Hand
    rekonstruieren lässt, als auch Personen, die im weiteren Sinne mit dem Komponisten in Verbindung standen, oder mit
    denen er sich, sei es direkt oder indirekt, in irgendeiner Form auseinandersetzte, wie etwa diverse Persönlichkeiten
    aus Theater- und Musikbetrieb. Die Personendatenbank befindet sich im Aufbau und wird laufend erweitert.
</p>

<p class="para" i18n="Second paragraph webern persons|A webern persons paragraph">
    Für jede Person ist ein eigenes Objekt mit Stichworten angelegt, die kurz über biographische Eckdaten sowie über den
    jeweiligen Bezug zu Anton Webern informieren.
</p>

<ng-template #rightPanelPortal>
    <p>
        <img src="assets/images/AW-HJ-JH_Foto1a_1928_AWsths_test.jpg" alt="" width="400" height="609" />
        <br />
        <span i18n="Webern with Jone and Humplik, 1928|A webern persons panel image description">
            Anton Webern mit Hildegard Jone und Josef Humplik, ca. 1928 (Wienbibliothek im Rathaus).
        </span>
    </p>
</ng-template>
