<div id="header">
    <div class="content">
        <div class="left">
            <a href="http://www.unibas.ch">
                <img src="assets/logos/uni.svg" alt="uni" id="unilogo" />
            </a>
        </div>
        <div class="center">
            <div id="webernlogo">
                <a href="http://www.anton-webern.ch">
                    <img src="assets/logos/awg.png" alt="logo" />
                </a>
            </div>
        </div>
        <div class="right">
            <awg-locale-switcher></awg-locale-switcher>
            <span id="contact" [routerLink]="['/contact']">KONTAKT</span>
        </div>
    </div>
</div>
