<p>
    Die Plattform SALSAH bietet unter der Rubrik
    <a href="http://www.salsah.org/webern/search.php?restype=opus" target="_blank">Opuszahl</a> eine Liste mit Weberns
    Werken geordnet nach ihrer Opuszahl. Anton Webern hat allerdings nur einen Teil seiner Kompositionen mit einer
    Opuszahl versehen. Zu jeder Opuszahl findet sich ein Eintrag mit kurzen Informationen zu Entstehung, gegebenenfalls
    Uraufführung und/oder Drucklegung eines Stücks sowie eine Quellenübersicht. Verweise auf einen größeren Kontext
    innerhalb von Werkzusammenhängen, Fassungen oder Ähnlichem werden durch Verknüpfungen angezeigt (dieser Bereich
    befindet sich im Aufbau und wird laufend erweitert und ergänzt).
</p>

<ng-template #rightPanelPortal>
    <img src="assets/images/Werkverzeichnis_UE1936.jpg" alt="" width="400" height="625" />
    <br />
    Verlagszanzeige der Werke Weberns auf der Umschlagseite des Erstdrucks der
    <em>Drei Gesänge aus „Viae Inviae“ von Hildegard Jone</em> op. 23 (Wien: Universal Edition, 1936).
</ng-template>
