<p>
    Die wichtigsten Kooperationspartner der Anton Webern Gesamtausgabe:<br />
    <a href="https://dasch.swiss/"><br />Data and Service Center for Humanities (DaSCH)</a><br /><br />
    <a href="http://www.dhlab.unibas.ch/">Digital Humanities Lab, Universität Basel</a><br /><br />
    <a href="https://www.nie-ine.ch/"
        >Nationale Infrastruktur für Editionen – Infrastructure nationale pour les éditions (NIE – INE)</a
    ><br /><br />
    <a href="https://www.oeaw.ac.at/ikm/forschung/edition-und-dokumentation/anton-webern/"
        >Österreichische Akademie der Wissenschaften</a
    ><br /><br />
    <a href="http://www.paul-sacher-stiftung.ch/de/home.html">Paul Sacher Stiftung, Basel</a><br /><br />
    <a href="http://www.universaledition.com/">Universal Edition, Wien</a><br /><br />

    Darüber hinaus bestehen zahlreiche mit inhaltlichem Austausch verbundene Kontakte zu benachbarten Editionsprojekten
    (<a href="http://www.absw.at/aktuell">Alban Berg</a>,
    <a href="http://www.schoenberg-gesamtausgabe.de/informationen.html">Arnold Schönberg</a>,
    <a href="https://simpk.de/wiener_schule_301.html">Briefwechsel der Wiener Schule</a>), zahlreichen Archiven sowie
    zur internationalen Webern-Forschung. Im Bereich der Digital Humanities bestehen ebenfalls Kontakte zu wichtigen
    Communities wie <a href="https://dig-hum.de/">DHd</a> oder <a href="https://www.dhoxss.net/">DHOxSS</a>, zur Music
    Encoding Community (<a href="https://music-encoding.org/">MEI</a>, <a href="https://www.edirom.de/">ViFE/Edirom</a>)
    sowie zu musikbezogenen Semantic Web-Projekten (<a href="https://www.doremus.org/">DOREMUS</a>,
    <a href="https://github.com/oerc-music/meld">MELD</a>, <a href="https://trompamusic.eu/">TROMPA</a>).<a
        href="http://www.universaledition.com/"></a
    ><br />
    <a href="http://www.universaledition.com/"></a>
</p>

<ng-template #rightPanelPortal></ng-template>
