<p class="para" i18n>
    Auf der wissenschaftlichen Forschungsplattform SALSAH erstellt die Anton Webern Gesamtausgabe eine
    <a href="http://www.salsah.org/webern/search.php?restype=chronology" target="_blank">Chronologie</a>, in der
    Ereignisse im Leben des Komponisten wie auch die Stationen im Kompositionsprozeß eines Werks, von der Anfertigung
    erster Skizzen über etwaige Fassungen bis hin zu Reinschrift und je nachdem Drucklegung, festgehalten werden. Die
    Chronologie befindet sich im Aufbau und wird laufend erweitert.
</p>

<p class="para" i18n>
    Verknüpfungen mit Objekten aus dem Bereich <a href="index.php?id=19">Briefe</a>, in denen auf Entstehung oder
    Publikation von Werken, auf Uraufführungen und Konzerte, aber auch biographische Aspekte wie Reisen, Krankheiten,
    Dirigier- oder Unterrichtstätigkeiten eingegangen wird, oder auch mit anderen Zusatzmaterialien, wie z. B.
    Herstellungskarten der Universal Edition, dienen als Nachweise der Ereignisse. Externe Links, etwa zu
    digitalisierten Ausgaben der damaligen Tagespresse, ordnen sie innerhalb des Zeitgeschehens ein und liefern
    zusätzliche Informationen. Auf diese Weise entsteht ein detaillierter Zeitstrahl, mit dessen Hilfe sich einzelne
    Stränge unterschiedlichster Thematik verfolgen lassen: Je nach Interesse können größere Lebens- oder
    Schaffensperioden überblickt oder aber sogar verschiedene Ereignisse innerhalb eines einzelnen Tages nachvollzogen
    werden.
</p>

<p class="para" i18n>
    Auf SALSAH wird jedes Ereignis einzeln katalogisiert. Die Suche lässt sich nach verschiedenen Parametern eingrenzen
    (z. B. nach bestimmten Zeitperioden, Orten, Personen, Werken oder weiteren Schlagwörtern zur Volltextsuche).
</p>

<ng-template #rightPanelPortal>
    <p class="para">
        <img src="assets/images/Webern_Chorausflug_Detail.jpg" alt="Webern, ca. 1925" width="282" height="347" />
        <br />
        Webern, ca. 1925 (<span i18n>Wienbibliothek im Rathaus</span>).
    </p>

    <p>
        <img
            src="assets/images/1928_07_Webern037rec_test.jpg"
            alt="Webern with Peter and Christine, Summer 1928"
            width="400"
            height="590" />
        <br />
        <span i18n>Anton Webern mit Sohn Peter und Tochter Christine auf der Schneealpe, Sommer 1928</span> (<span i18n
            >Wienbibliothek im Rathaus</span
        >).
    </p>
</ng-template>
