<p class="para" i18n>
    Die AWG organisiert internationale sowie interdisziplinäre Tagungen und Workshops zu spezifischen Aspekten in Anton
    Weberns Schaffen. Bisher haben stattgefunden:
</p>

<ul>
    <li class="para" i18n>Der junge Webern</li>
    <ol class="awg-research-conferences">
        <li class="low-alpha-parenthesis para">
            <p>
                Künstlerische Orientierungen in Wien nach 1900,
                <span i18n>Österreichische Akademie der Wissenschaften</span>, <span i18n>Wien</span>,
                <span i18n>5.–6. März 2012</span>.
            </p>
        </li>

        <li class="low-alpha-parenthesis para">
            <p>
                Texte und Kontexte, <span i18n>Musikwissenschaftliches Seminar der Universität Basel</span>,
                <span i18n>31. Mai bis 1. Juni 2012</span>.
                <a
                    href="https://musikwissenschaft.philhist.unibas.ch/de/forschung/aktuelle-forschungsprojekte/anton-webern-gesamtausgabe/#c490"
                    i18n
                    >[Mehr]</a
                >
            </p>
        </li>
    </ol>

    <li class="para">webern@segantini</li>
    <ol class="awg-research-conferences">
        <li class="low-alpha-parenthesis para">
            <p>
                <span i18n
                    >Interdisziplinäre Tagung und Konzert zu Anton Weberns Streichquartett (1905) und Giovanni
                    Segantinis ‚Alpentriptychon‘, Segantini-Museum, St. Moritz</span
                >, <span i18n>7. April 2014</span>.
                <a
                    href="https://musikwissenschaft.philhist.unibas.ch/de/forschung/aktuelle-forschungsprojekte/anton-webern-gesamtausgabe/#c498"
                    i18n
                    >[Mehr]</a
                >
            </p>

            <p i18n>
                Im Anschluss an die Tagung erklang in einem Konzert mit dem Pellegrini-Quartett das Streichquartett
                Weberns (M 79) in der bisher erarbeiteten Edition der AWG.
            </p>
        </li>

        <li class="low-alpha-parenthesis">
            <p>
                <span i18n
                    >Workshop mit Markus Böggemann (Kassel) in Zusammenarbeit mit dem NFS Bildkritik
                    <em>eikones</em></span
                >, <span i18n>Musikwissenschaftliches Seminar der Universität Basel</span>,
                <span i18n>12. Mai 2014</span>.
            </p>
        </li>
    </ol>
</ul>

<ng-template #rightPanelPortal>
    <p class="para">
        <img src="assets/images/Plakat_Der%20junge%20Webern.jpg" alt="Der junge Webern" width="200" height="283" />
    </p>
    <p>
        <img src="assets/images/Plakat_webern@segantini.jpg" alt="webern@segantini" width="400" height="566" />
    </p>
</ng-template>
