<p class="para" i18n>
    Die von der AWG organisierten Anton Webern Vorträge sind eine in lockerer Folge stattfindende Vortragsreihe mit
    Beiträgen international renommierter MusikwissenschaftlerInnen zu Anton Webern und seinem Umfeld. Die Vorträge
    richten sich gleichermaßen an WissenschaftlerInnen, Studierende und Musikinteressierte. Bisher haben stattgefunden:
</p>

<ul>
    <li class="para" i18n>
        Rudolf Stephan (Berlin): Anton Webern und seine Zeit, Vortragssaal des Musikwissenschaftlichen Seminars der
        Universität Basel, 19. Oktober 2010, 18.30 Uhr.
    </li>

    <li class="para" i18n>
        Elmar Budde (Kandern): Extase und Askese oder Ohnmacht der Töne – über Anton Webern, Vortragssaal des
        Musikwissenschaftlichen Seminars der Universität Basel, 20. Oktober 2011, 19.00 Uhr.
    </li>

    <li class="para" i18n>
        Christian Martin Schmidt (Berlin): Hilft die Reihenanalyse bei der Edition von Zwölftonwerken Weberns?,
        Vortragssaal des Musikwissenschaftlichen Seminars der Universität Basel, 20. Mai 2014, 18.15 Uhr.
    </li>

    <li class="para" i18n>
        Horst Weber (Berlin): Webern und die Tradition des Kanons, Vortragssaal des Musikwissenschaftlichen Seminars der
        Universität Basel, 28. April 2015, 18.15 Uhr.
    </li>

    <li class="para" i18n>
        Simone Hohmaier (Berlin): Die Korrespondenz zwischen Anton Webern und Alban Berg – Dokument einer wundersamen
        Freundschaft, Vortragssaal des Musikwissenschaftlichen Seminars Basel, 27. November 2018, 18.15 Uhr.
    </li>

    <li class="para" i18n>
        Sebastian Wedler (Oxford): Auf der Sucher nach Weberns Frühstil, Vortragssaal des Musikwissenschaftlichen
        Seminars der Universität Basel, 23. November 2021, 18.15 Uhr.
    </li>
</ul>

<ng-template #rightPanelPortal></ng-template>
