<p class="para" i18n>
    Die von der AWG organisierten Anton Webern Vorträge sind eine in lockerer Folge stattfindende Vortragsreihe mit
    Beiträgen international renommierter MusikwissenschaftlerInnen zu Anton Webern und seinem Umfeld. Die Vorträge
    richten sich gleichermaßen an WissenschaftlerInnen, Studierende und Musikinteressierte. Bisher haben stattgefunden:
</p>

<ul>
    <li class="para">
        Rudolf Stephan (Berlin): Anton Webern und seine Zeit,
        <span i18n>Vortragssaal des Musikwissenschaftlichen Seminars der Universität Basel</span>,
        <span i18n>19. Oktober 2010</span>, <span i18n>18.30 Uhr</span>.
    </li>

    <li class="para">
        Elmar Budde (Kandern): Extase und Askese oder Ohnmacht der Töne – über Anton Webern,
        <span i18n>Vortragssaal des Musikwissenschaftlichen Seminars der Universität Basel</span>,
        <span i18n>20. Oktober 2011</span>, <span i18n>19.00 Uhr</span>.
    </li>

    <li class="para">
        Christian Martin Schmidt (Berlin): Hilft die Reihenanalyse bei der Edition von Zwölftonwerken Weberns?,
        <span i18n>Vortragssaal des Musikwissenschaftlichen Seminars der Universität Basel</span>,
        <span i18n>20. Mai 2014</span>, <span i18n>18.15 Uhr</span>.
    </li>

    <li class="para">
        Horst Weber (Berlin): Webern und die Tradition des Kanons,
        <span i18n>Vortragssaal des Musikwissenschaftlichen Seminars der Universität Basel</span>,
        <span i18n>28. April 2015</span>, <span i18n>18.15 Uhr</span>.
    </li>

    <li class="para">
        Simone Hohmaier (Berlin): Die Korrespondenz zwischen Anton Webern und Alban Berg – Dokument einer wundersamen
        Freundschaft, <span i18n>Vortragssaal des Musikwissenschaftlichen Seminars der Universität Basel</span>,
        <span i18n>27. November 2018</span>, <span i18n>18.15 Uhr</span>.
    </li>

    <li class="para">
        Sebastian Wedler (Oxford): Auf der Sucher nach Weberns Frühstil,
        <span i18n>Vortragssaal des Musikwissenschaftlichen Seminars der Universität Basel</span>,
        <span i18n>23. November 2021</span>, <span i18n>18.15 Uhr</span>.
    </li>
</ul>

<ng-template #rightPanelPortal></ng-template>
