.awg-edition-complex-tree ul,
.awg-edition-complex-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.awg-edition-complex-tree-invisible {
    display: none;
}

/*
   * This padding sets alignment of the nested nodes.
   */
.awg-edition-complex-tree .mat-nested-tree-node div[role='group'] {
    padding-left: 20px;
}

/*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
.awg-edition-complex-tree div[role='group'] > .mat-tree-node {
    padding-left: 25px;
    min-height: 40px;
}

div.mat-tree-node {
    min-height: 40px;
}

.mdc-icon-button {
    width: 24px !important;
    height: 24px !important;
    padding: 0px !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}
.mdc-icon-button > *[role='img'] {
    width: 16px;
    height: 16px;
    font-size: 16px;
}
.mdc-icon-button > *[role='img'] svg {
    width: 16px;
    height: 16px;
}

.mdc-icon-button .mat-mdc-button-touch-target {
    width: 24px !important;
    height: 24px !important;
}
