<p class="para" i18n>
    Die Webern-Studien (Beihefte der Anton Webern Gesamtausgabe) sind eine 2012 gegründete Schriftenreihe, die sowohl
    der weiterführenden Reflexion über Person und Werk Weberns als auch zur Publikation begleitender Materialen dient
    (z. B. Tagebücher oder Briefe). Bisher sind folgende Bände beim
    <a href="http://musikzeit.at/musikzeitneu/?page_id=16">Verlag Lafite</a> erschienen:
</p>

<ul>
    <li class="para">
        <em>Wechselnde Erscheinung. Sechs Perspektiven auf Anton Weberns sechste Bagatelle</em>,
        <span i18n>hg. von</span> Simon Obert, <span i18n>Wien</span>: Lafite, 2012 (Webern-Studien 1).
        <a href="assets/documents/Webern-Studien_1_Inhalt_und_Einleitung.pdf" i18n
            >[Inhaltsverzeichnis und Einleitung (PDF)]</a
        >
    </li>

    <li class="para">
        <em>Der junge Webern. Künstlerische Orientierungen in Wien nach 1900</em>, <span i18n>hg. von</span> Monika
        Kröpfl <span i18n>und</span> Simon Obert, <span i18n>Wien</span>: Lafite, 2015 (Webern-Studien 2a).
        <a href="assets/documents/Webern-Studien_2a_Inhalt_und_Vorwort.pdf" i18n
            >[Inhaltsverzeichnis und Vorwort (PDF)]</a
        >
    </li>

    <li class="para">
        <em>Der junge Webern. Texte und Kontexte</em>, <span i18n>hg. von</span> Thomas Ahrend
        <span i18n>und</span> Matthias Schmidt, <span i18n>Wien</span>: Lafite, 2015 (Webern-Studien 2b).
        <a href="assets/documents/Webern-Studien_2b_Inhalt_und_Vorwort.pdf" i18n
            >[Inhaltsverzeichnis und Vorwort (PDF)]</a
        >
    </li>

    <li class="para">
        <em>Webern-Philologien</em>, <span i18n>hg. von</span> Thomas Ahrend <span i18n>und</span> Matthias Schmidt,
        <span i18n>Wien</span>: Lafite, 2016 (Webern-Studien 3).
        <a href="assets/documents/Webern-Studien_3_Inhalt_und_Vorwort.pdf" i18n
            >[Inhaltsverzeichnis und Vorwort (PDF)]</a
        >
        [<a href="assets/documents/WS3_Online_20200131_bb.pdf">vollständiger Band (PDF, 7 MB)</a>
        <span
            ><a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"
                ><img alt="Creative Commons Lizenzvertrag" src="https://i.creativecommons.org/l/by-nd/4.0/80x15.png"
            /></a> </span
        >]
    </li>

    <li class="para">
        <em>Neue Perspektiven. Anton Webern und das Komponieren im 20. Jahrhundert</em>,
        <span i18n>hg. von</span> Pietro Cavallotti, Simon Obert <span i18n>und</span> Rainer Schmusch,
        <span i18n>Wien</span>: Lafite, 2019 (Webern-Studien 4).
        <a href="assets/documents/Webern-Studien_4_Inhalt_und_Vorwort.pdf" i18n
            >[Inhaltsverzeichnis und Vorwort (PDF)]</a
        >
    </li>

    <li class="para">
        Anton Webern,<em> Briefwechsel mit der Universal-Edition</em>, <span i18n>hg. von</span> Julia Bungardt,
        <span i18n>Wien</span>: Lafite, 2020 (Webern-Studien 5).
        <a href="assets/documents/Webern-Studien_5_Inhalt_und_Vorwort.pdf" i18n
            >[Inhaltsverzeichnis und Vorwort (PDF)]</a
        >
    </li>
</ul>

<ng-template #rightPanelPortal>
    <p>
        <img src="assets/images/umschlag_webern_2_Seite_1.jpg" alt="Webern-Studien 2" width="400" height="605" />
    </p>
</ng-template>
